.logo-container {
    width: 300px;
    height: 109px;
    position: absolute;
   // top: 0;
    right: 25%;
    bottom: 80%;
    left: 70.7%;
    margin: auto;
    border-color: rgb(136, 255, 0);
  
  
    .solid-logo {
      position: absolute;
      top: auto;
      right: auto;
      bottom: auto;
      left: 0;
      margin: auto;
      width: 100%;
      opacity: 100%;
      z-index: 1;
      border-radius: 86% 14% 87% 13% / 31% 89% 11% 69% ;
      

    }
  }
  

 

  